doctype html

html(ng-app="ng-app")
  head
    meta(charset="utf-8")
    title
      AngularJS Basic HTTP Authentication Example
    link(rel="stylesheet", href="css/vendor.css")
    script(src="js/vendor.js")

  body
    .jumbotron
      .container
        .col-xs-offset-2.col-xs-8
          div(ng-view)
    .credits.text-center
      p
        a(href="http://jasonwatmore.com/post/2014/05/26/AngularJS-Basic-HTTP-Authentication-Example.aspx")
          AngularJS Basic HTTP Authentication Example
      p
        a(href="http://jasonwatmore.com")
          JasonWatmore.com
    script(src="js/app.js")
